<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.title }}</h1>

          <!-- 课程前的介绍内容 -->
          {% if page.pre_content %}
            <div class="work-pre-content">
              {{ page.pre_content }}
            </div>
          {% endif %}

          <!-- 课程列表 -->
          {% for item in page.items %}
            <div class="work-item">
              {% if item.image %}
                <img
                  src="{{ item.image.src | absolute_url }}"
                  alt="{{ item.image.alt }}"
                  class="work-bubble"
                />
              {% endif %}
              
              <span class="work-text">
                {% if item.url %}
                  <a href="{{ item.url }}" class="work-item-title">
                    {{ item.title }}
                  </a>
                {% else %}
                  <span class="work-item-title">{{ item.title }}</span>
                {% endif %}
                {% if item.award %}
                  <div class="work-item-award">
                    {% for a in item.award %}
                      <div class="award-line">{{ a }}</div>
                    {% endfor %}
                  </div>
                {% endif %}
                {% if item.hurl %}
                  <div class="work-item-hurl">
                    <a href="{{ item.hurl }}" target="_blank" class="hurl-line">{{ item.hurl }}</a>
                  </div>
                {% endif %}
                <span class="work-item-desc">
                  {{ item.description }}
                </span>
              </span>
            </div>

            <!-- mid_content 显示控制 -->
            {% if page.mid_content and forloop.index == page.mid_content_position %}
              <div class="work-mid-content">
                {{ page.mid_content | markdownify }}
              </div>
            {% endif %}

          {% endfor %}

          <!-- 课程后的其他奖项 -->
          {% if page.post_content %}
            <div class="work-post-content">
              {{ page.post_content | markdownify }}
            </div>
          {% endif %}

        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>
